apiVersion: kubeadm.k8s.io/v1beta3
bootstrapTokens:
- groups:
  token: "{{kubeadm_token}}"
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{kubernetes_master_1_ip}}"
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: "{{docker_cgroup_driver}}"
    node-ip: "{{ ipv4_address }}"
---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
apiServer:
  extraArgs:
    service-node-port-range: "80-32767"
{% if kubernetes_version is defined and kubernetes_version != 'latest' and kubernetes_version != 'present' %}
kubernetesVersion: "{{kubernetes_version}}"
{% endif %}
networking:
  podSubnet: "{{cluster_ip_cidr}}"
  serviceSubnet: "{{service_ip_cidr}}"
