apiVersion: kubeadm.k8s.io/v1beta2
bootstrapTokens:
- groups:
  token: "{{kubeadm_token}}"
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{kubernetes_master_1_ip}}"
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: "{{docker_cgroup_driver}}"
    node-ip: "{{ ipv4_address }}"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
apiServer:
  extraArgs:
    service-node-port-range: "80-32767"
featureGates:
  IPv6DualStack: true
networking:
  podSubnet: "{{cluster_ip_cidr}}"
  serviceSubnet: "{{service_ip_cidr}}"
