apiVersion: kubeadm.k8s.io/v1beta2
bootstrapTokens:
- groups:
  token: "{{kubeadm_token}}"
kind: InitConfiguration
localAPIEndpoint:
  advertiseAddress: "{{kubernetes_master_1_ip}}"
nodeRegistration:
  kubeletExtraArgs:
    cgroup-driver: "{{docker_cgroup_driver}}"
---
apiVersion: kubeadm.k8s.io/v1beta2
kind: ClusterConfiguration
apiServer:
  extraArgs:
    service-node-port-range: "80-32767"
#networking:
  #podSubnet: "{{cluster_ip_cidr}}"
  #serviceSubnet: "{{service_ip_cidr}}"
controllerManager:
  extraArgs:
    feature-gates: "IPv6DualStack=true"
    #cluster-cidr: "{{cluster_ip_cidr}}"
    cluster-cidr: "10.244.0.0/16,fc00::/32"
    #service-cluster-ip-range: "{{service_ip_cidr}}"
    service-cluster-ip-range: "10.96.0.0/12,fc00:aa::/32"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
featureGates:
  IPv6DualStack: true
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
featureGates:
  IPv6DualStack: true
clusterCIDR: "10.244.0.0/16,fc00::/32"
mode: ipvs
