---
- name: Restart systemd-modules-load
  service:
    name: systemd-modules-load
    enabled: true
    state: restarted
  listen:
    - systemd_modules_load_restart

- name: Reload systemd daemon
  systemd:
    daemon_reload: true
  listen:
    - systemd_daemon_reload
